{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="title">Création de mon compte</h1>
    <hr>
    <div class="form_register">
        {{ form_start(registrationForm) }}
        <label for="pseudo">Pseudo
            : {{ form_widget(registrationForm.pseudo,{'attr':{'class':'form-control'}}) }}</label>
        <label for="prenom">Prenom
            : {{ form_widget(registrationForm.prenom,{'attr':{'class':'form-control'}}) }}</label>
        <label for="nom">Nom : {{ form_widget(registrationForm.nom,{'attr':{'class':'form-control'}}) }}</label>
        <label for="telephone">Téléphone
            : {{ form_widget(registrationForm.telephone,{'attr':{'class':'form-control'}}) }}</label>
        <label for="email">Email : {{ form_widget(registrationForm.email,{'attr':{'class':'form-control'}}) }}</label>
        <label for="ville">Ville : {{ form_widget(registrationForm.villes,{'attr':{'class':'form-control'}}) }}</label>
        <label for="registration_form[plainPassword][first]">Mot de passe
            : {{ form_widget(registrationForm.plainPassword.first,{'attr':{'class':'form-control'}}) }}</label>
        <label for="registration_form[plainPassword][second]">Confirmation mot de passe
            : {{ form_widget(registrationForm.plainPassword.second,{'attr':{'class':'form-control'}}) }}</label>
        <label for="registration_form[photo]">Photo de profil : {{ form_widget(registrationForm.photo) }}</label>

        <div class="button_account">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{ path('accueil_home') }}">
                <button type="button" class="btn btn-danger">Retour</button>
            </a>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
