{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Mon Profil</h1>

    {{ form_start(registrationForm) }}
      {{ form_widget(registrationForm) }}
    {#{{form_row(registrationForm.agreeTerms) }}#}
{# {{ form_row(registrationForm.site) }} #}

    <button type="submit" class="btn">Enregistrer</button>
    <a href="{{ path('accueil_home') }}"><button type="button">Retour</button></a>
    {{ form_end(registrationForm) }}
{% endblock %}
