{% extends 'base.html.twig' %}


{% block title %}Gérer les villes{% endblock %}

{% block body %}




<div> <h2 class="title">Gérer les villes</h2></div>

    <div class="button_test">
        <button class="button_show btn btn-outline-success">Filtrer les recherches</button>
    </div>
    <div class="form-group formulaire" id="form">
        {{ form_start(villesearchForm) }}
        <div class="label_form">
            <label for="nom">Le nom de la ville contient : {{ form_widget(villesearchForm.nom,{'attr':{'class':'form-control'}}) }}</label>
        </div>
        <button class="btn btn-outline-success">Rechercher</button>
        {{ form_end(villesearchForm) }}
        <div class="button_form_close">
        </div>

    </div>


    <div class="table_complete">
        <table class="table table-hover table-stripped table_sortie ">
            <thead>
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Code Postal</th>
                <th></th>
                <th scope="col">Actions</th>
            </tr>
            </thead>

            {% for ville in villes %}
                <tbody>
                <tr>
                    <td scope="row">{{ ville.nom}}</td>

                    <td>{{ ville.codePostal }}</td>
                    <td><a href="{{ path('modifiervilles', {'id' : ville.id}) }}">Modifier</a></td>
                    <td><a href="{{ path('supprimervilles', {'id' : ville.id} ) }}">Supprimer</a></td>
                    <td><a href="{{ path('ajouterunlieu', {'id' : ville.id} ) }}">Gérer Lieu</a></td>
                </tr>
                </tbody>
            {% endfor %}

            <tbody>
            {{ form_start(villesForm) }}
            <tr>
                <td>{{ form_row(villesForm.nom, {'attr':{'class':'form-control'}}) }}</td>
                {{ form_errors(villesForm.nom) }}

                <td>{{ form_row(villesForm.code_Postal, {'attr':{'class':'form-control'}}) }}</td>
                {{ form_errors(villesForm.code_Postal) }}
                <td class="btn_add_city "><button class="btn btn-outline-primary" >Ajouter</button></td>
            </tr>
            {{ form_end(villesForm) }}
            </tbody>

        </table>

    </div>



{% endblock %}