{% extends 'base.html.twig' %}

{% block title %}Modifier la ville{% endblock %}

{% block body %}

    <div class="container-fluid pt-3">
        <div class="row">
            <div class="col">
                <h3 class="title">Modifier la ville</h3>
                <hr>
            </div>
        </div>

        {{ form_start(villesForm) }}
        <div class="form container">
            <div class="form-group ">
              Nom : {{ form_row(villesForm.nom, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(villesForm.nom) }}
            </div>
            <div class="row">
                <div class="form-group col" >
                   Code Postal : {{ form_row(villesForm.code_Postal, {'attr':{'class':'form-control'}})}}
                    {{ form_errors(villesForm.code_Postal) }}
                </div>
            {{ form_end(villesForm) }}
    </div>
    <button class="btn btn-outline-secondary">Enregistrer</button>
    <button class="btn btn-outline-secondary"> <a href="{{ path('accueil_home')}}">Annuler</a></button>



{% endblock %}