{% extends 'base.html.twig' %}

{% block body %}

    <h1>Afficher une sortie</h1>

    <div class="sortie_photo">
        <img src="{{ asset('img/photos/photoSortie/' ~ detailsortie.photo ) }}" alt="{{ detailsortie.nom }}">
    </div>

    <p>Nom de la sortie : {{ detailsortie.nom }}</p>
    <p>Date et heure de la sortie : {{ detailsortie.dateDebut|date("Y-m-d") }}</p>
    <p>Date limite d'inscription : {{ detailsortie.dateCloture|date("Y-m-d") }}</p>
    <p>Nombre de place : {{ detailsortie.nbInscriptionsMax }}</p>
    <p>Durée : {{ detailsortie.duree }} heures</p>
    <p>Description et infos : {{ detailsortie.descriptionInfos }}</p>
    <p>Ville organisatrice : {{ detailsortie.noLieu.noVille.nom }}</p>
    <p>Lieu : {{ detailsortie.noLieu.nom }}</p>
    <p>Rue : {{ detailsortie.noLieu.rue }}</p>
    <p>Code postal : {{ detailsortie.noLieu.noVille.codePostal }}</p>
    <p>Lattitude : {{ detailsortie.noLieu.latitude }}</p>
    <p>Longitude : {{ detailsortie.noLieu.longitude }}</p>

    <h1>Liste des participants inscrits :</h1>

    <div class="table_complete">
        <table class="table table-hover table-stripped table_sortie ">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
            </tr>
            </thead>

            {% for details in detail %}
            <tbody>
                    <tr>
                        <td><a href="{{ path('detailutilisateur', {'id' : details.userinscription.id}) }}">{{ details.userinscription.pseudo }}</a></td>
                        <td>{{ details.userinscription.nom }}</td>
                        <th></th>
                       {# <td><a href="{{ path('detailsortie', {'id' : sortie.id}) }}">Afficher</a>#}
                    </tr>
                    </tbody>
            {% endfor %}
        </table>

    </div>



{% endblock %}

