{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ detailparticipant.organisateur.pseudo }}</h1>

    <p>Prénom : {{ detailparticipant.organisateur.prenom }}</p>
    <p>Nom : {{ detailparticipant.organisateur.nom }}</p>
    <p>Téléphone : {{ detailparticipant.organisateur.telephone }}</p>
    <p>Email : {{ detailparticipant.organisateur.email }}</p>
    <p>Ville de rattachement : {{ detailparticipant.noLieu.noVille.nom }}</p>
    <button class="btn btn-outline-secondary"> <a href="{{ path('accueil_home')}}">Retour</a></button>





{% endblock %}

