{% extends 'base.html.twig' %}

{% block body %}

    <h1>Annuler la sortie</h1>

    <p>Nom de la sortie : {{ annulsortie.nom}}</p>
    <p>Date et heure de la sortie : {{ annulsortie.dateDebut|date("Y-m-d") }}</p>
    <p>Ville organisatrice : {{ annulsortie.noLieu.noVille.nom }}</p>
    <p>Lieu : {{ annulsortie.noLieu.nom }} {{ annulsortie.noLieu.rue }} {{ annulsortie.noLieu.noVille.codePostal }} {{ annulsortie.noLieu.noVille.nom }}</p>
{{ form_start(annulForm) }}
    {{ form_widget(annulForm) }}
    <button name="valeurenregistrer" value="4" class="btn btn-outline-secondary">Annuler</button>
    {{ form_end((annulForm)) }}
{% endblock %}

