{% extends 'base.html.twig' %}

{% block body %}

    <h3 class="title">Annuler la sortie</h3>
    <hr>
<div class="detail_profil">
    <div class="profil"><b>Nom de la sortie : </b>{{ annulsortie.nom}}</div>
    <div class="profil"><b>Date et heure de la sortie : </b>{{ annulsortie.dateDebut|date("Y-m-d H:i:s") }}</div>
    <div class="profil"><b>Ville de la sortie : </b> Ville organisatrice : {{ annulsortie.noLieu.noVille.nom }}</div>
    <div class="profil"><b>Lieu : </b>{{ annulsortie.noLieu.nom }} {{ annulsortie.noLieu.rue }} {{ annulsortie.noLieu.noVille.codePostal }} {{ annulsortie.noLieu.noVille.nom }}</div>
{{ form_start(annulForm) }}
    {{ form_widget(annulForm) }}
    <button name="valeurenregistrer" value="4" class="btn btn-outline-danger">Annuler la sortie !!</button>
    {{ form_end((annulForm)) }}
</div>
{% endblock %}

