{% extends 'base.html.twig' %}

{% block title %}Create Sortie{% endblock %}

{% block body %}

    <div class="container-fluid pt-3">
        <div class="row">
            <div class="col">
                <h3 class="title">Créer une sortie</h3>
                <hr>
            </div>
        </div>

        {{ form_start(sortieForm) }}
        <div class="form container">
            <div class="form-group ">
                {{ form_row(sortieForm.nom, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="row">
                <div class="form-group col">
                    Date debut : {{ form_widget(sortieForm.date_debut) }}

                </div>
                <div class="form-group col">
                    Date fin : {{ form_widget(sortieForm.date_cloture) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    {{ form_row(sortieForm.nb_inscriptions_max , {'attr':{'class':'form-control'}}) }}
                </div>

                <div class="form-group col">
                    {{ form_row(sortieForm.duree , {'attr':{'class':'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_row(sortieForm.description_infos , {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="row">
                <div class="form-group col">
                    {{ form_row(sortieForm.noLieu , {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group col text-center align-text-bottom">
                    <a class="bn36 bn3637" href="{{ path('createlieu') }}">Créer lieu</a>
                </div>
            </div>
            <div>
                <button name="valeurenregistrer" value="1" class="btn btn-primary">Publier la sortie</button>
                <button name="valeurenregistrer" value="4" class="btn btn-secondary">Enregistrer</button>
                <button class="btn btn-danger "><a class="annuler-link" href="{{ path('accueil_home') }}">Annuler</a></button>

            </div>


            {{ form_end(sortieForm) }}
        </div>
    </div>



{% endblock %}
