{% extends 'base.html.twig' %}

{% block body %}
    <div class="date_jour">

        Date du jour : {{ "now"|date('d/m/Y') }}

        {% for sortie in sorties %}

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrit/place</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{ sortie.nom }}</th>
                    <td>{{ sortie.dateDebut|date('d/m/Y') }}</td>
                    <td>{{ sortie.dateCloture|date('d/m/Y') }}</td>
                    <td>{{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etatSortie }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        {% endfor %}

    </div>

{% endblock %}

{% block title %}

{% endblock %}

