{% extends 'base.html.twig' %}

{% block body %}
    <div class="date_jour">
        Date du jour : {{ "now"|date('d/m/Y') }}
    </div>

    <div>



        {{ form_start(form) }}
        <div class="form-row">
            <div class="col">
                {{ form_row(form.nom) }}
            </div>
            <div class="col">
                <button class="btn btn-primary">Rechercher</button>
            </div>

        </div>
        {{ form_end(form) }}


        <table class="table table-hover table-stripped table_sortie">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Inscrit/place</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            {% for sortie in sorties %}
                <tbody>
                <tr>
                    <th scope="row">{{ sortie.nom }}</th>
                    <td>{{ sortie.dateDebut|date('d/m/Y') }}</td>
                    <td>{{ sortie.dateCloture|date('d/m/Y') }}</td>
                    <td>{{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.noEtat.libelle }}</td>
                    <td>{{ sortie.noLieu.noVille.nom }}</td>

                    <td></td>
{#
                    <td>{{ sortie.organisateur.pseudo }}</td>
#}
                    <td><a href="{{ path('modificationsortie', {'id' : sortie.id}) }}">Modification</a><a
                                href="{{ path('detailsortie', {'id' : sortie.id}) }}">Detail</a><a
                                href="{{ path('annulersortie', {'id' : sortie.id}) }}">Annuler</a></td>
                </tr>
                </tbody>
            {% endfor %}
        </table>

    </div>
    <a type="button" href="{{ path('create') }}" class="btn btn-outline-secondary">Créer une sortie</a>
{% endblock %}

{% block title %}

{% endblock %}

