{% extends 'base.html.twig' %}


{% block title %}Gestion villes{% endblock %}

{% block body %}
    <div>
    <h2 class="title">Gérer les lieux</h2>
    </div>




    <div class="button_test">
        <button class="button_show btn btn-outline-success">Filtrer les recherches</button>
    </div>
    <div class="form-group formulaire" id="form">
        {{ form_start(lieuxSearchForm) }}
        <div class="label_form">
            <label for="nom">Le nom du lieu contient : {{ form_widget(lieuxSearchForm.nom,{'attr':{'class':'form-control'}}) }}</label>
        </div>
        <button class="btn btn-outline-success">Rechercher</button>
        {{ form_end(lieuxSearchForm) }}
        <div class="button_form_close">
        </div>

    </div>


    <div class="table_complete">
        <table class="table table-hover table-stripped table_sortie ">
            <thead>
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Nom</th>
                <th scope="col">Rue</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>

            {% for lieux in lieu %}
                <tbody>
                <tr>
                    <td>{{ lieux.noVille.nom }}</td>
                    <td>{{ lieux.nom }}</td>
                    <td>{{ lieux.rue }}</td>
                    <td>{{ lieux.latitude }}</td>
                    <td>{{ lieux.longitude }}</td>
                    <td><a href="{{ path('modifierlieux', {'id' : lieux.id}) }}">Modifier</a></td>
                    <td><a href="{{ path('supprimerlieu', {'id' : lieux.id} ) }}">Supprimer</a></td>

                </tr>
                </tbody>


            {% endfor %}

            <tbody>
            {{ form_start(lieuForm) }}
            <tr>
                <td> {{ ville.nom }}</td>

                <td>{{ form_row(lieuForm.nom, {'attr':{'class':'form-control'}}) }}</td>
                <td>{{ form_row(lieuForm.rue, {'attr':{'class':'form-control'}}) }}</td>
                <td>{{ form_row(lieuForm.latitude, {'attr':{'class':'form-control'}}) }}</td>
                <td>{{ form_row(lieuForm.longitude, {'attr':{'class':'form-control'}}) }}</td>
                <td class="btn_add_city">
                    <button class="btn btn-outline-secondary">Ajouter</button>
                </td>
            </tr>
            {{ form_end(lieuForm) }}
            </tbody>

        </table>

    </div>



{% endblock %}