{% extends 'base.html.twig' %}

{% block body %}


<h2 class="title_profil">Profil de : {{ user.pseudo }}</h2>
<hr>


<div class="detail_profil">
    {% if user.photo == null %}
        <div class="user_photo">
            <img src="{{ asset('img/randomavatar.png' ) }}" alt="{{ user.pseudo }}">
        </div>
    {% endif %}
    {% if user.photo != null %}
        <div class="user_photo">
            <img src="{{ asset('img/photos/photoUser' ~ user.photo ) }}" alt="{{ user.pseudo }}">
        </div>
    {% endif %}


    <div>

        <div class="detail_profil">
            <div class="profil_firstName"><b>Prénom : </b>{{ user.prenom | capitalize }} </div>

            <div class="profil_name"><b>Nom : </b>{{ user.nom| capitalize }}</div>

            <div class="profil_phone"><b>Téléphone</b> : {{ user.telephone| capitalize }}</div>

            <div class="profil_email"><b>Email : </b>{{ user.email| capitalize }}</div>

            <div class="profil_city"><b>Ville de rattachement : </b>{{ user.villes.nom| capitalize }}</div>
            <div class="btn_profil">
                <a href="{{ path('accueil_home') }}">
                    <button class="btn btn-primary" type="button">Retour</button>
                </a>

                {% if app.user != null %}
                    <a class="btn btn-info " href="{{ path('profil_edit', {'id' : app.user.id}) }}">Modifier le profil</a>
                {% endif %}
            </div>

        </div>

{% endblock %}

