{% extends 'base.html.twig' %}
{% form_theme profilForm 'bootstrap_4_layout.html.twig' %}

{% block title %} {{ parent() }} | EditProfil {% endblock %}

{% block body %}
    <h2>Modification du Profil</h2>
    <div class="password-div">
        <a href="{{ path('change_Password') }}" class="btn btn-secondary" role="button">
            Modifier mon mot de passe
        </a>
    </div>

    <div>
        {{ form_start(profilForm) }}
        {{ form_widget(profilForm) }}

        <button>Modifier</button>
        {{ form_end(profilForm) }}
    </div>


{% endblock %}

