{% extends 'base.html.twig' %}
{% form_theme profilForm 'bootstrap_4_layout.html.twig' %}

{% block title %} {{ parent() }} | EditProfil {% endblock %}

{% block body %}
    <h2 class="title">Modification du Profil</h2>
    <hr>

    <div>
        {{ form_start(profilForm) }}
        {{ form_widget(profilForm) }}

        <button class="btn btn-outline-danger">Modifier</button>
        {{ form_end(profilForm) }}
    </div>
    <div class="password-div">
        <a href="{{ path('change_Password') }}" class="btn btn-outline-dark" role="button">
            Modifier mon mot de passe
        </a>
    </div>



{% endblock %}

