{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil de {{ user.username }}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>{{ user.pseudo }}</h1>

    <div>
        <div>Prénom : {{ user.prenom | capitalize }} </div>

        <div>Nom : {{ user.nom| capitalize }}</div>

        <div>Téléphone : {{ user.telephone| capitalize }}</div>

        <div>Email : {{ user.email| capitalize }}</div>

        <div>Ville de rattachement : {{ user.| capitalize }}</div>

        <a href="{{ path('accueil_home') }}"><button type="button">Retour</button></a>

        {% if app.user != null %}
            <a class="link_button" href="{{ path('profil_edit', {'id' : app.user.id}) }}">Modifier le profil</a>
        {% endif %}

    </div>


{% endblock %}